*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url(../back.jpg);
    padding: 250px 0;
    background-repeat: no-repeat;
    background-size:cover ;
}
.skills padding{
    width: 80px 0;
}
 